.block {
  width: 200px;
  height: 200px;

  display: flex;
  align-items: center;
  margin-top: 100px;
  position: relative;
  animation: blocks 2s ease-in-out infinite;
}

.block_child {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px double white;
}
.block_child:hover,
.block_child:focus {
  background-color: blue;
}
@keyframes blocks {
  0% {
    transform: translateX(0px) translateY(-100px);
  }
  25% {
    transform: translateX(100px) translateY(-100px);
  }
  50% {
    transform: translateX(100px) translateY(0px);
  }
  75% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(0px) translateY(-100px);
  }
}
